.mat-mdc-radio-button.mat-accent {
    --mdc-radio-disabled-selected-icon-color: #212529;
    --mdc-radio-disabled-unselected-icon-color: #212529;
    --mdc-radio-unselected-focus-icon-color: #212529;
    --mdc-radio-unselected-hover-icon-color: #212529;
    --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
    --mdc-radio-selected-focus-icon-color: #212529;
    --mdc-radio-selected-hover-icon-color: #212529;
    --mdc-radio-selected-icon-color: #212529;
    --mdc-radio-selected-pressed-icon-color: #212529;
    --mat-mdc-radio-ripple-color: #212529;
    --mat-mdc-radio-checked-ripple-color: #212529;
}